body,input,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
	}
body{
	font-family:Helvetica, Arial,"Microsoft YaHei";
	}
a{
	font-size:12px;
	color:#333;
	text-decoration:none;
	}
img{
	border:0;
	}
.lt{
	float:left;
	}
.rt{
	float:right;
	}
