@import url(base.css);
/*header*/
#hnz_header{
	min-width:1100px;
	width:1101px;
	height:300px;
	margin:0 auto;
	overflow:hidden;
	}
.hnz_logo_box{
	width:100%;
	padding-top:53px;
	height:147px;
	overflow:hidden;
	}
.hnz_logo{
	width:94px;
	height:94px;
	float:left;
	}
.hnz_school{
	width:430px;
	height:94px;
	margin-left:241px;
	float:left;
	}
.hnz_nav{
	width:1100px;
	height:85px;
	border:1px solid #d4d4d4;
	border-right:0;
	overflow:hidden;
	}
.hnz_nav .hnz_nav_list{
	width:136.5px;
	height:100%;
	float:left;
	border-right:1px solid #d4d4d4;
	}
.hnz_nav .hnz_nav_list a{
	display:block;
	width:100%;
	height:100%;
	color:#1c9494;
	text-align:center;
	line-height:24px;
	transition:all 0.5s;
	}
.hnz_nav .hnz_nav_list a:hover{
	background:#1c9494;
	color:#fff;
	}
.hnz_nav .hnz_nav_list a span{
	margin-top:18px;
	font-weight:bold;
	display:inline-block;
	width:100%;
	font-size:18px;
	}
.hnz_nav .hnz_nav_list a b{
	display:inline-block;
	width:100%;
	font-size:16px;
	}
/*header end*/
/*banner start*/
#hnz_banner_box{
	width:100%;
	height:410px;
	background:#449596;
	overflow: hidden;
	}
.hnz_banner{
	width:1100px;
	height:380px;
	position:relative;
	margin:30px auto 0;
	}
.hnz_banner_list{
	width:100%;
	height:100%;
	position:relative;
	}
.hnz_banner_list a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	}
.hnz_banner_list .hnz_bg{
	width:1100px;
	height:80px;
	background:#000;
	opacity:0.3;
	*filter:alpha(opacity=30);
	position:absolute;
	z-index:1;
	left:0;
	bottom:0;
	}
.hnz_banner_list .hnz_ban_cont{
	width:1060px;
	height:60px;
	padding:10px 20px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
	color:#fff;
	}
.hnz_ban_cont h3{
	font-size:18px;
	line-height:24px;
	}
.hnz_ban_cont p{
	font-size:14px;
	line-height:18px;
	}
.hnz_bbtn{
	width:100%;
	height:100px;	
	position:absolute;
	top:50%;
	margin-top:-50px;
	z-index:0;
	}
.hnz_bbtn a{
	width:100px;
	height:100px;
	font-size:100px;
	text-align:center;
	line-height:100px;
	color:#fff;
	font-family:"YouYuan";
	}
.hnz_btn_l{
	margin-left:-100px;
	}
.hnz_btn_r{
	margin-right:-100px;
	}
/*banner end*/
.hnz_contentbox{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#f5f1f0;
	}
/* 校务公告 start */
#hnz_sinfo{
	width:1100px;
	height:500px;
	margin:40px auto;
	}
.hnz_sinfo_l{
	width:745px;
	height:100%;
	background:#fff;
	box-shadow:0px 0px 10px #ddd;
	float:left;
	}
.hnz_s_title{
	width:100%;
	height:100px;
	overflow:hidden;
	color:#5c5c5c;
	}
.hnz_s_title h3{
	font-size:22px;
	margin:30px 0 0 30px;
	line-height:32px;
	}
.hnz_s_title b{
	font-size:18px;
	line-height:24px;
	margin-left:30px;
	}
.hnz_s_img{
	width:100%;
	height:200px;
	overflow:hidden;
	}
.hnz_s_img img{
	width:100%;
	}
.hnz_s_info{
	width:685px;
	height:140px;
	border:30px solid #fff;
	overflow:hidden;
	font-size:14px;
	line-height:24px;
	color:#5c5c5c;
	}


.hnz_sinfo_r{
	width:320px;
	height:100%;
	background:#fff;
	box-shadow:0px 0px 10px #ddd;
	float:right;
	}
.hnz_s_r_title{
	width:260px;
	height:65px;
	padding:15px 30px 0px;
	background:#429697;
	color:#fff;
	}
.hnz_s_r_title h3{
	font-size:22px;
	line-height:32px;
	}
.hnz_s_r_title p{
	font-size:20px;
	line-height:28px;
	}
.hnz_s_r_list{
	width:260px;
	height:320px;
	padding:20px 30px;
	}
.hnz_s_r_list li{
	height:38px;
	line-height:38px;
	border-bottom:1px solid #f8f8f8;
	overflow:hidden;
	}
.hnz_s_r_list li a{
	font-size:16px;
	transition:all 0.5s;
	color:#5c5c5c;
	}
.hnz_s_r_list li a:hover{
	color:#fb601f;
	}
.hnz_s_r_more{
	width:100%;
	height:60px;
	}
.hnz_s_r_more a{
	font-size:50px;
	line-height:25px;
	transition: all 0.5s;
	color:#999;
	float:right;
	margin-right:30px;
	}
.hnz_s_r_more a:hover{
	color:#fb601f;
	}
/* 校务公告 end */